
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
venv/
env/
*.env

# Ignore log files
*.log

# Ignore notebooks
.ipynb_checkpoints/

# Pycharm files
.idea/

# Coverage from unit tests
.coverage